<?xml version="1.0"?>
<config>
    <modules>
        <FW_Paywall>
            <version>1.0.0</version>
        </FW_Paywall>
    </modules>
    <global>
        <helpers>
            <fw_paywall>
                <class>FW_Paywall_Helper</class>
            </fw_paywall>
        </helpers>        
        <models>
            <paywall>
                <class>FW_Paywall_Model</class>
            </paywall>
        </models>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <add_wp_user>
                        <class>FW_Paywall_Model_Observer</class>
                        <method>AddUser</method>
                    </add_wp_user>
                </observers>
            </checkout_submit_all_after>
        </events>                
    </global>    
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <paywallmodule>
                                            <title>FW Extension</title>
                                        </paywallmodule>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <paywallmodule>
            <fwpw>
                <enabled>0</enabled>
            </fwpw>
        </paywallmodule>
    </default>	
</config>